In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# first i loaded the dataset
df = pd.read_csv('C:/Users/MSI KATANA/Desktop/DSGP Git Repo/DSGP-GROUP-9/Birmingham 2005 - 2010 count CSV.csv')
df

,Zone,Year,Day of the Week,Time Period,Acc. Count,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Birmingham,2005.0,Monday,00:00 - 01:00,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Birmingham,2005.0,Monday,01:00 - 02:00,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Birmingham,2005.0,Monday,02:00 - 03:00,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Birmingham,2005.0,Monday,03:00 - 04:00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Birmingham,2005.0,Monday,04:00 - 05:00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,Birmingham,2005.0,Sunday,20:00 - 21:00,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,Birmingham,2005.0,Sunday,21:00 - 22:00,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,Birmingham,2005.0,Sunday,22:00 - 23:00,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,Birmingham,2005.0,Sunday,23:00 - 24:00,18.0,Total accident count ( Sunday ),467.0,NaN,Total accident count ( Year ),NaN,NaN,NaN,4084.0
168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# now i am selecting the columns that i need to this prediction
selected_columns = df[["Zone", "Year", "Day of the Week", "Time Period", "Acc. Count"]]

# new DataFrame with the selected columns
new_df = pd.DataFrame(selected_columns)

# print new data frame
print(new_df)

           Zone    Year Day of the Week    Time Period  Acc. Count
0    Birmingham  2005.0          Monday  00:00 - 01:00        14.0
1    Birmingham  2005.0          Monday  01:00 - 02:00         6.0
2    Birmingham  2005.0          Monday  02:00 - 03:00         4.0
3    Birmingham  2005.0          Monday  03:00 - 04:00         1.0
4    Birmingham  2005.0          Monday  04:00 - 05:00         1.0
..          ...     ...             ...            ...         ...
164  Birmingham  2005.0          Sunday  20:00 - 21:00        25.0
165  Birmingham  2005.0          Sunday  21:00 - 22:00        32.0
166  Birmingham  2005.0          Sunday  22:00 - 23:00        11.0
167  Birmingham  2005.0          Sunday  23:00 - 24:00        18.0
168         NaN     NaN             NaN            NaN         NaN

[169 rows x 5 columns]

In [6]:
# handling with missing values 
new_df.info

<bound method DataFrame.info of            Zone    Year Day of the Week    Time Period  Acc. Count
0    Birmingham  2005.0          Monday  00:00 - 01:00        14.0
1    Birmingham  2005.0          Monday  01:00 - 02:00         6.0
2    Birmingham  2005.0          Monday  02:00 - 03:00         4.0
3    Birmingham  2005.0          Monday  03:00 - 04:00         1.0
4    Birmingham  2005.0          Monday  04:00 - 05:00         1.0
..          ...     ...             ...            ...         ...
164  Birmingham  2005.0          Sunday  20:00 - 21:00        25.0
165  Birmingham  2005.0          Sunday  21:00 - 22:00        32.0
166  Birmingham  2005.0          Sunday  22:00 - 23:00        11.0
167  Birmingham  2005.0          Sunday  23:00 - 24:00        18.0
168         NaN     NaN             NaN            NaN         NaN

[169 rows x 5 columns]>