In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# load dataset
df = pd.read_csv('C:/Users/Vihanga Ranaweera/Documents/GitHub/DSGP-GROUP-9/Birmingham_road_surface_dataset.csv')
df

C:\Users\Vihanga Ranaweera\AppData\Local\Temp\ipykernel_20004\3933789905.py:2: DtypeWarning: Columns (0,2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:/Users/Vihanga Ranaweera/Documents/GitHub/DSGP-GROUP-9/Birmingham_road_surface_dataset.csv')

,Zone,Year,Day of the Week,Time Period,Road Surface,Acc Count
0,Birmingham,2005.0,Monday,00:00 - 01:00,Dry,10.0
1,Birmingham,2005.0,Monday,00:00 - 01:00,Wet or damp,4.0
2,Birmingham,2005.0,Monday,00:00 - 01:00,Snow,0.0
3,Birmingham,2005.0,Monday,00:00 - 01:00,Frost or ice,0.0
4,Birmingham,2005.0,Monday,00:00 - 01:00,Flood over 3cm. deep,0.0
...,...,...,...,...,...,...
1048570,NaN,NaN,NaN,NaN,NaN,NaN
1048571,NaN,NaN,NaN,NaN,NaN,NaN
1048572,NaN,NaN,NaN,NaN,NaN,NaN
1048573,NaN,NaN,NaN,NaN,NaN,NaN
1048574,NaN,NaN,Tuesday,NaN,NaN,NaN

In [3]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['Zone'] = label_encoder.fit_transform(df['Zone'])
df['Day of the Week'] = label_encoder.fit_transform(df['Day of the Week'])
df['Time Period'] = label_encoder.fit_transform(df['Time Period'])
df['Road Surface'] = label_encoder.fit_transform(df['Road Surface'])
df

         Zone    Year  Day of the Week  Time Period  Road Surface  Acc Count
0           0  2005.0                1            0             1       10.0
1           0  2005.0                1            0             5        4.0
2           0  2005.0                1            0             4        0.0
3           0  2005.0                1            0             3        0.0
4           0  2005.0                1            0             2        0.0
...       ...     ...              ...          ...           ...        ...
1048570     1     NaN                7           24             6        NaN
1048571     1     NaN                7           24             6        NaN
1048572     1     NaN                7           24             6        NaN
1048573     1     NaN                7           24             6        NaN
1048574     1     NaN                5           24             6        NaN

[1048575 rows x 6 columns]

In [4]:
new_df = df.drop(columns=['Year'])
new_df

         Zone  Day of the Week  Time Period  Road Surface  Acc Count
0           0                1            0             1       10.0
1           0                1            0             5        4.0
2           0                1            0             4        0.0
3           0                1            0             3        0.0
4           0                1            0             2        0.0
...       ...              ...          ...           ...        ...
1048570     1                7           24             6        NaN
1048571     1                7           24             6        NaN
1048572     1                7           24             6        NaN
1048573     1                7           24             6        NaN
1048574     1                5           24             6        NaN

[1048575 rows x 5 columns]

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [6]:
X = new_df[['Day of the Week', 'Time Period', 'Road Surface']]
y = new_df['Acc Count']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
model = LinearRegression()

In [8]:
import numpy as np
nan_indices = np.isnan(y_train)

In [9]:
X_train = X_train[~nan_indices]
y_train = y_train[~nan_indices]

In [10]:
assert not np.isnan(y_train).any(), "NaN values still present in y_train"

In [11]:
model.fit(X_train, y_train)

LinearRegression()

In [12]:
def predict_accident_count_each_road_surface(day_of_week, time_period, road_surface, model):
    input_data = [[day_of_week, time_period, road_surface]]
    prediction = model.predict(input_data)
    return prediction[0]

In [13]:
y_pred = model.predict(X_test)

In [16]:
user_input_day_of_week = 1
user_input_time_period = 22
user_input_road_surface = 4

predicted_accident_count_each_road_surface = predict_accident_count_each_road_surface(user_input_day_of_week, 
                                                                  user_input_time_period, 
                                                                  user_input_road_surface, 
                                                                  model)

total_accidents = 6048  # Replace this with our actual total count

percentage = (predicted_accident_count_each_road_surface / total_accidents) * 100

print(f'Predicted Accident Count for each road surface: {predicted_accident_count_each_road_surface}')
print(f'Percentage of Total Accidents each road surface: {percentage:.2f}%')

Predicted Accident Count for each road surface: 4.451635019817351
Percentage of Total Accidents each road surface: 0.07%

C:\Users\Vihanga Ranaweera\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(